VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# Cloud Messaging > Web configuration > Web Push certificates (generate a key pair)
VITE_FIREBASE_VAPID_KEY=

# App Check > reCAPTCHA v3 site key (optional but recommended)
VITE_RECAPTCHA_V3_SITE_KEY=
